body {
  margin: 0 auto; padding: 0;
  width: 100%; height: 100%;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 1.2em;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  background: #efefef;
  overflow: auto;
  padding: 0 18px;
}

section {
  padding-bottom: 18px;
}

.flex-container {
  display: flex;
  align-items: stretch;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

img + img {
  margin-left: 18px;
}
