body {
  margin: 0 auto; padding: 0;
  width: 100%; height: 100%;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 1.2em;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  background: #efefef;
  padding: 0 18px;
}

.flex-container {
  display: flex;
  margin-bottom: 18px;
  /*max-width: 900px;*/
  /*height: 300px;*/
  /*align-items: stretch;*/
  /*width: 100%;*/
}

.flex-child {
  margin: auto;
  /*height: inherit;*/
}

/*section {
padding-bottom: 18px;
}*/

img {
  width: 100%;
  height: auto;
}

.img-container + .img-container {
  margin-left: 18px;
}
